/**********************************************
* Bootstrap For DevConnect
* Custom CSS For Final Project
* @authors: dbeetzz@gmail.com & gsandoval16@cnm.edu
* Credit for some code borrowed from @rlewis37@cnm.edu
/*********************************************/

/**********************************************
* Global Styles
/*********************************************/
html,
body {
	color: #000;
	font-family: 'Roboto', sans-serif;
	background-color: #f4f4ff;
	background-size: cover;
}

p {
	color: #0d0054;
}

h2,
h3 {
	padding-top: 15px;
}

a,
a:link,
a:visited,
a:hover,
a:active,
button,
button:link,
button:visited,
button:hover,
button:active {
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	color: deepskyblue;
	background-color: transparent;
}

/**********************************************
* Utility Styles
/*********************************************/
/* this is a "spacer" class */
.p-x-10 {
	padding-bottom: 10rem;
	padding-top: 10rem;
}

@media only screen and (min-width: 768px) {
	.jumbotron {
		min-height: 80vh;
		display: flex;
		align-items: center;
	}
}

/**********************************************
* Header and Navbar Styles
/*********************************************/
/* removes the margin-bottom that Bootstrap sets by default */
.navbar {
	margin-bottom: 0px;
}

/* override Bootstrap default .navbar-inverse styles */
.navbar-inverse {
	background-image: none;
	background-color: white;
	border: none;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	color: black;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: deepskyblue;
	background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: #0053ff;
}

.navbar.center .navbar-inner {
	text-align: center;
}

.navbar.center .navbar-inner .nav {
	display:inline-block;
	float: none;
}

.navbar-toggle.collapsed{
	background-color: white;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #0d0054;
}

/**********************************************
* Welcome Section Styles
/*********************************************/
/* this adds padding to compensate for the fixed navbar on mobile */
#welcome {
	padding-top: 25px;
}

.jumbotron {
	background-image: url(../images/ZacsHands.png);
	background-size: cover;
}

/* overrides bootstrap default styles */
#welcome .jumbotron {
	border-radius: 0;
	/*
	color: #fff;
	*/
	color: #0053ff;
}

/* set text-shadow on the <h1> in the jumbotron */
#welcome .jumbotron h1 {
	text-shadow: 2px 2px 0 #0d0054;
}

.click {
	color: #0d0054;
	text-shadow: 2px 2px 0 blue;

}

/* sets a larger welcome area height on sm, md, and lg breakpoints */
@media only screen and (min-width: 768px) {
	#welcome {
		min-height: 100vh;
		display: flex;
		align-items: center;
	}
}

/**********************************************
* Thumbnails Section Styles
/*********************************************/

/* add padding around the image thumbnails and text */
.image-tile {
	padding: 2rem;
}

.img-thumbnail {
	max-height: 328px;
	width: auto;
}

.well {
	background: rgba(236, 236, 236, 0.7);
	border-radius: 1px;
	border-color: #2F394A;
	color: #0d0054;
	padding-top: 15px;
}

.sign-form {
	border: none;
}

a:hover,
a:active {
	text-decoration: none;
}

.well-large {
	background-color: #679fff;
	box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.well-title {
	font-size: 2.5rem;
	color: #0d0054;
}

.img-bot-margin {
	margin-bottom: 2em;
}

.text-justify {
	color: deepskyblue;
}

#element1 {display:inline-block;margin-right:10px;}
#element2 {display:inline-block;}

/**********************************************
* Footer Styles
/*********************************************/
footer {
	padding: 1rem 0;
	background-color: #2F394A;
	color: deepskyblue;
	font-size: 1rem;
}

/*************************************
* Github Button
*************************************/

#github-button {
	color: white;
}