<phpunit>
	<testsuites>
		<testsuite name="Dev Connect">
			<!--<file>TagTest.php</file>-->
			<!--<file>MessageTest.php</file>-->
			<!--<file>ProfileImageTest.php</file>-->
			<!--<file>ImageTest.php</file>-->
			<!--<file>ProfileTest.php</file>-->
			<!--<file>ProjectTest.php</file>-->
			<!--<file>ProjectTagTest.php</file>-->
			<file>ReviewTest.php</file>
			<!--<file>TagTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../public_html/php/classes</directory>
		</whitelist>
	</filter>
</phpunit>